<div id="carouselBlk">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">

            {% for rs in sliders %}


            <div class="item">
                <div class="container">

                    <a href="{{ path('product_detail',{'id':rs.id}) }}"><img style="width:30%" src="{{ asset('uploads') }}/images/{{ rs.image }}" alt=""/></a>
                    <div class="carousel-caption">
                        <h4>{{ rs.title }}</h4>
                        <p>{{ rs.description }}</p>
                    </div>

            </div>
                </div>

            {% endfor %}

        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
<div id="mainBody">
