<!-- Sidebar ================================================== -->
<hr class="soften">
<hr class="soften">
<div class="container">
<div id="sidebar" class="span3 well well-small">
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        <li><a href="{{ path('userpanel') }}">Bilgilerim</a></li>
        <li><a href="{{ path('userpanel_edit') }}">Düzenle</a></li>
        <li><a href="{{ path('orders_index') }}">Siparişlerim</a></li>
        <li><a href="{{ path('shopcart_index') }}">Sepetim</a></li>
        <li><a href="products.html">Favori Ürünlerim</a></li>
        <li><a href="products.html">Sipariş Geçmişi</a></li>
        <li><a href="products.html">Yorumlarım</a></li>
        <li><a href="{{ path('app_logout') }}">Çıkış</a></li>
    </ul>
    <br/>

</div>

    </p>


<!-- Sidebar end=============================================== -->
